@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}



.App {
  background-image: url('./assets/pexel_cold.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.8 ease-out ;
  
}

.App.warm {
  background-image: url('./assets/pexel_warm.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.8 ease-out ;
}

.wrapper {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.55));
  padding: 45px;
  font-family: 'Poppins', sans-serif;
  color: #fffffe;
}


.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-input {
  display: block;
  width: 100%;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0 0 12px 12px;
  margin-top: -45px;
  transition: all 0.8s ease;
  box-shadow:  0px 3px rgba(0, 0, 0, 0.2);
  color: #333333;
  font-size: 22px;
}

.location-box .location {
  color: #ffffff;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  text-shadow:  3px 3px rgba(50,50,70,0.8);
}

.location-box .date {
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-weight: 600;
  font-size: 96px;
  text-shadow:  3px 3px rgba(50,50,70,0.8);
  background-color: rgba(255,255,255,0.1);
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px auto;
  box-shadow: 2px 2px rgba(50,50,70,0.8) ;
  text-align: center;
}

.weather-box .weather {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  font-size: 46px;
  text-shadow:  3px 3px rgba(50,50,70,0.8);
}


